<!-- <div class="container" *ngIf="showNavbar">
    <ul class="navbar">
        <li routerLink="/home">Angular Assignment</li>
        <li routerLink="/home">Home</li>
        <li routerLink="/about">About</li>
        <li routerLink="/contact">Contact</li>
        <li routerLink="/product">Product</li>
        <li routerLink="/service">Service</li>
    </ul>
    <div class="container-2">
        <ul class="profile">
            <li>Welcome |</li>
            <li class="profile-name">{{username}}</li>
            <li><a (click)="goToLogin()" class="logout">Logout</a></li>
        </ul>
    </div>
</div> -->

<nav *ngIf="showNavbar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">Angular Assignment</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link  active" routerLink="/home" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/product">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/service">Service</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <li>Welcome |<span> {{username}}</span></li>
                <button class="btn btn-outline-success" type="submit" (click)="goToLogin()">Logout</button>
            </form>
        </div>
    </div>
</nav>