.center {
    width: 90%;
    padding-left: 100px;
    /* box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5); */
    height: auto;
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ng-model-text {
    margin-top: 4px;
}

/* .contaner-2 {
    height: 100px;
} */

.border {
    border: 1px solid black;
}